[Unit]
Description=glutte serial monitor web server
After=syslog.target network.target

[Service]
Type=simple
User=glutte
WorkingDirectory=/home/glutte/glutte-serial-web
ExecStart=/home/glutte/glutte-serial-web/bin/gunicorn -k flask_sockets.worker glutte_serial_web:app -b 0.0.0.0:5000

