gevent-websocket==0.10.1
Flask==1.1.2
gevent==22.10.2
greenlet==2.0.1
itsdangerous==1.1
Jinja2>=2.10
MarkupSafe==1.1
pyserial==3.4
Werkzeug==2.2.3
Flask-Sockets==0.2.1
gunicorn==20.0.4
twx.botapi==3.6.2
