<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Moniteur de Glutte</title>
        <link rel="stylesheet" href="static/style.css" type="text/css" media="screen" charset="utf-8"/>
    </head>
    <body>
        <h1>Ceci n'est pas une Glutte <input type="checkbox" id="pause"><small><small>Pause</small></small></h1>
        <pre id="output">{% for l in last_lines %}{{l}}{% endfor %}</pre>
        <script>
            var output = document.getElementById('output');
            var pause = document.getElementById('pause');

            var socket = null;
            var closed = true;
            var retry_scheduled = false;
            var pause_buffer = '';

            function init_socket() {

                retry_scheduled = false;

                if (socket != null) {

                    socket.onmessage = null;
                    socket.onopen = null;
                    socket.onclose = null;
                    socket.onerror = null;

                    delete socket;
                }

                socket = new WebSocket("ws://" + window.location.host + "/stream");

                socket.onmessage = function(data) {
                    add_message(data.data);
                }

                socket.onopen = function(data) {
                    add_message("{System} Websocket open !\n");
                    closed = false;
                }

                socket.onclose = function(code, text) {
                    closed = true;
                    if (!retry_scheduled) {
                        add_message("{System} Websocket closed :( " + text + "\n");
                        retry_scheduled = true;
                        init_socket();
                    }
                }

                socket.onerror = function() {
                    closed = true;

                    if (!retry_scheduled) {
                        add_message("{System} Websocket error. Trying again in 3s :(\n");
                        setTimeout(init_socket, 3000);
                        retry_scheduled = true;
                    }
                }

            }

            function keep_alive() {

                if (!closed) {
                    try {
                        socket.send('.');
                    } catch (e) {
                    }
                }

                setTimeout(keep_alive, 10000);
            }

            function add_message(text) {
                if (pause.checked) {
                    pause_buffer += text;
                } else {
                    output.textContent += text;
                    window.scrollTo(0, document.body.scrollHeight);
                }
            }

            function pause_changed() {
                if (!pause.checked) {
                    if (pause_buffer) {
                        add_message(pause_buffer);
                        pause_buffer = "";
                    }
                }
            }

            pause.onchange = pause_changed;

            init_socket();
            keep_alive();
        </script>
    </body>
</html>
